<doctype html>
  <html>
    <head>
      <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
        #x{
          text-decoration:none;
          font-family:cursive;
        }
      </style>
    </head>
    <body>
      <div class="card text-bg-green">
        <img src="static/cardimage.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title" style="font-family:cursive;">Exams and Openings</h5>
          <p>
            <a id="x"href="https://www.kluniversity.in/KLECET-2023-result.aspx" target="_blank"  class="card-text">KLCET-2023 Results</a>
          </p>
          <p>
            <a id="x"href="https://www.kluniversity.in/KLMAT-2023-result.aspx" target="_blank"  class="card-text">KLMAT-2023 Results</a>
          </p>
          <p>
            <a id="x"href="https://www.kluniversity.in/klueeeresult.aspx" target="_blank"  class="card-text">KLEEE-2023 Phase-I Results</a>
          </p><p>
            <a id="x"href="https://www.kluniversity.in/klueeeresult.aspx" target="_blank"  class="card-text">KLEEE-2023 Phase-II Results</a>
          </p>
          <p>
            <a id="x"href="https://www.kluniversity.in/klueeeresult.aspx" target="_blank"  class="card-text">KLEEE-2023 Phase-III Results</a>
          </p>
          <p>
            <a id="x"href="https://www.kluniversity.in/KLECET-2023-result.aspx" target="_blank"  class="card-text">KLECET-2023 Phase-I Results</a>
          </p>
          <p>
            <a id="x"href="https://www.kluniversity.in/KLECET-2023-result.aspx" target="_blank"  class="card-text">KLECET-2023 Phase-II Results</a>
          </p>
    <p class="card-text"style="font-family:cursive;">Ph.D Admissions are open throughout the year for NRI's, Foreign Nationals, Industry People and Government Officials.</p>
          <a href="#" class="btn btn-primary"style="font-family:cursive;">Apply now</a>
        </div>
        <div class="card-footer text-body-secondary"style="font-family:cursive;">
         Last Updated 2 days ago
        </div>
      </div>
    </body>
  </html>