<doctype html>
  <html>
    <head>
     <title>Home</title>
      <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <style>
        #pid{
          font-size:24px;
        }
        #pid2{
          margin-bottom: 20px;
          font-size:24px;
        }
      </style>
    </head>
    <body>
      <div class="container">
       {%include 'nav.html'%}
        <img src="https://Student-Counselling-management-System.2100090162.repl.co/static/workharder.jpg" class="img-fluid mt-2">
        <h1 class="text-center mt-4 mb-4" style="font-family:cursive;"> STUDENT COUNSELLING MANAGEMENT SYSTEM</h1>
        <p id="pid" class="lead">Our student counseling management system is designed to empower educational institutions and counselors in their mission to support and guide students on their academic and personal journeys. We believe that every student's well-being and success matter, and our system is here to streamline and enhance the counseling process.Our platform provides a holistic approach to student counseling, offering a range of features and tools to ensure the well-being and academic success of every student.Our goal is to create a nurturing environment where students can thrive academically and personally, and where counselors can have the tools they need to make a positive impact. We are committed to helping educational institutions create a culture of support, empowerment, and success.</p>
        <h1 class="text-center mt-4 mb-4"style="font-family:cursive;">FEATURES</h1> 
        <u1 id="pid2"class="lead">
         <l1>1.Personalized Counseling</l1>
         <l2>2.Data-Driven Insights</l2>
         <l3>3.Easy Appointment Scheduling</l3>
          <l4>4.Security</l4>
          <l5>5.Communication and Collaboration</l5>
          6.Resource Hub
          7.Feedbacks
          8.Academia
        </u1>
           <h1 class="text-center mt-4 mb-4"style="font-family:cursive;"> ABOUT US</h1>
            <p id="pid" class="lead">
           At KL UNIVERSITY, we are dedicated to providing a comprehensive and innovative Student Counseling Management System that transforms the educational experience for students, educators, and institutions. With a passionate commitment to the well-being and success of every student, we've created a platform that is more than just a tool – it's a supportive community.
         </p>
        <h1 class="text-center mt-4 mb-4"style="font-family:cursive;"> OUR TEAM</h1>
        <img src="https://Student-Counselling-management-System.2100090162.repl.co/static/teampic.jpg" class="img-fluid">
         <p id="pid" class="lead">
           Our team consists of passionate professionals with expertise in education, counseling, technology, and data analytics. We are committed to making a difference in the lives of students and educational institutions by providing a powerful, user-friendly platform that promotes success and well-being.
         </p>
        <h1 class="text-center mt-4 mb-4"style="font-family:cursive;"> Get In Touch</h1>
         <p id="pid" class="lead">
           We invite you to learn more about our Student Counseling Management System and how it can benefit your institution or educational community. If you have any questions or would like to get started, please don't hesitate to Contact Us. We look forward to being a part of your journey in supporting students and fostering a brighter future.
         </p>
        {%include 'footer.html'%}
      </div>
    </body>
  </html>