<doctype html>
  <html>
    <head>
      <title>Partners</title>
      {%include 'bootstrap.html'%}
     <style>

       .square-holder {
         padding:30px;
         border: 1px solid #cecece;
         align-items: center;
         display:flex;
         align-items: center;
         justify-content: center;
         margin-bottom:20px;
         background-color:#f1f1f1;
         min-height:200px
       }

       .square-holder img {
         max-width:100%;
         filter: grayscale(100%);
         transition: all 0.3s;
       }

       .square-holder:hover img{
         filter:none;
       }
     </style>
    </head>
    <body>
      <section class="section section-default mt-none mb-none">
      <div class="container">
      <h2 class="text-center mt-4 mb-4"><b>Our Partners</b></h2>
      <strong>
      <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/solar-communications-200.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/cbf-200.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/gxs-200.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/jpr-200.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/portals/0/images/partners/talk-internet-200.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/Portals/0/img/opera3_logo.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/Portals/0/pegasus-logo.png" />
      </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="square-holder">
      <img alt="" src="https://www.pmits.co.uk/Portals/0/sage business partner.jpg" />
      </div>
      </div>
      </div>
      </strong>
      </div>
      </section>
    </body>
  </html>